doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Formulario (PUG- BOOTSTRAP)
		link(href="css/bootstrap.css" rel="stylesheet")
	body
		main.container
			//- FORMULARIO DE LOGIN
			section.row
				div.col-md-6.col-md-offset-3
					fieldset
						legend
							h3.text-muted Formulario de Login
						form(method="post")
							div.form-group
								input.form-control(
									name="email"
									type="email"
									placeholder="Correo Electronico"
									required=true
									)
							div.form-group
								input.form-control(
									name="password"
									type="password"
									placeholder="password"
									required=true
									)
							div.form-group
								input.form-control.btn.btn-info(
								type="submit"
								value="Iniciar Sesión"
							)
							//- FORMULARIO DE REGISTRO
			section.row
				div.col-md-6.col-md-offset-3
					fieldset
						legend
							h3 Formulario de Registro
						form(method="post")
							div.form-group
								input.form-control(
									type="text"
									name="name"
									placeholder="Nombre Completo"
									required=true
								)
							div.form-group
								select.form-control(name='gender' required='true')
									option Seleccione Genero...
									option(value="F") Femenino
									option(value="M") Masculino

							div.form-group
								input.form-control(
									type="date"
									name="date"
									placeholder="Fecha Nacimiento"
									required=true
								)
								
							div.form-group
								label(for="s1")
									input(
										type="checkbox"
										name="sport"
										id="s1"
										value="Soccer"
									)
									| &nbsp Futbol
							
							div.form-group
								label(for="s2")
									input(
										type="checkbox"
										name="sport"
										id="s2"
										value="Baloncesto"
									)
									| &nbsp Baloncesto

							div.form-group
								label(for="s3")
									input(
										type="checkbox"
										name="sport"
										id="s3"
										value="Beisbol"
									)
									| &nbsp Beisbol

							div.form-group
								label(for="s4")
									input(
										type="checkbox"
										name="sport"
										id="s4"
										value="Tennis"
									)
									| &nbsp Tennis

							div.form-group
								textarea.form-control(
								name="descripcion"
								placeholder="descripcion"
								required=true
								rows=6
								)

							div.form-group
								input.form-control.btn.btn-info(
								type="submit"
								value="Registrar datos"
								)
							div.form-group
								input.form-control.btn.btn-danger(
								type="reset"
								value="Limpiar Datos"
								

								)

p